extends layout

block content
  h1 Add a message!
  form(method="POST" action="/new")
    input(name='text' type='text' placeholder='Write your message here!' )
    input(name='user' type='text' placeholder='username')
    button(type='submit') Submit!